@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/****************************************/
/*               Fonts                  */
/****************************************/
/****************************************/
/*              Colors                  */
/****************************************/
/****************************************/
/*              Mixins                  */
/****************************************/
/****************************************/
/*              Styles                  */
/****************************************/
body {
  padding: 0; }

.teal-text {
  color: #1d7e88 !important; }

header {
  padding: 15px 10px; }
  header .container {
    padding: 0; }
  header .logo-block .assoc-logo {
    margin: 0 auto 10px; }
  header .logo-block .tie-logo-header {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 10px; }
  header .logo {
    width: 100%;
    max-width: 280px; }
  header .navbar {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    padding: 0;
    text-align: center; }
    header .navbar .navbar-toggler {
      margin: 0 auto; }
    header .navbar .navbar-toggler-icon {
      display: block;
      width: auto; }
    header .navbar .navbar-toggler-icon:before {
      content: "MENU";
      color: #58595b; }
    header .navbar .navbar-nav .nav-link {
      padding-right: 0.75rem;
      padding-left: 0.75rem; }
    header .navbar .navbar-nav .nav-link:hover {
      text-decoration: underline; }
    header .navbar .search {
      width: 20px;
      margin-left: 10px; }
    header .navbar a {
      color: #58595b; }
      header .navbar a img {
        border: none; }

p {
  font-size: 1.1em;
  line-height: 1.6em;
  font-family: "Roboto", sans-serif;
  color: #58595b;
  margin-bottom: 1.5rem; }

a,
a:active {
  color: #1d7e88; }
  a img,
  a:active img {
    display: block;
    margin: 10px 0;
    border: 1px solid #1d7e88; }

a:hover {
  color: #000000; }
  a:hover img {
    border: 1px solid #000000; }

.non-billboard {
  height: auto;
  background-color: #1d7e88;
  height: 20px; }

.form-control {
  border: 1px solid #58595b;
  height: 45px; }

.prod-result {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #e1e1e1; }

.prod-result:last-child {
  border: none; }

label {
  font-family: "Playfair Display", serif;
  color: #1d7e88;
  font-weight: 700;
  margin-bottom: 0.25rem; }

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center; }

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.7em; }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding-bottom: .5rem !important;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #e6e6e6;
  line-height: 1.5em; }

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.45em; }

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1em;
  font-weight: bold; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em; }

li {
  font-family: "Roboto", sans-serif;
  font-size: 1em; }

.billboard {
  height: auto;
  color: #ffffff;
  overflow: hidden;
  text-align: center; }
  .billboard h1 {
    font-size: 1.7rem; }
  .billboard h3 {
    margin-top: 0;
    border: 0;
    font-size: 1.1rem; }
  .billboard .hero {
    height: 25vh; }
    .billboard .hero img {
      padding: 0 20px;
      width: auto;
      height: 100%;
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); }
  .billboard .leadin {
    max-width: 600px; }
    .billboard .leadin h4 {
      font-weight: normal !important; }

.table {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 2.5rem; }
  .table .thead-dark th {
    color: #fff;
    background-color: #10a8b1;
    border-color: #10a8b1; }
  .table th,
  .table td {
    padding: 0.5rem; }

.billboard.home {
  background-color: #1d7e88; }

.billboard.product-lp {
  background-color: #1d7e88; }

.billboard.assoc-prod-list {
  background-color: #1d7e88; }

.billboard.prod {
  background-color: #1d7e88; }

.billboard.assoc {
  background-color: #1d7e88; }

.billboard.common {
  padding: 40px;
  background-color: #1d7e88; }
  .billboard.common .leadin {
    width: 100%;
    max-width: 100%; }

.carrier-logo {
  width: 150px;
  margin: 0 auto 20px; }

.blog {
  max-width: 900px;
  margin: 0 auto; }
  .blog img.feature {
    width: 100%;
    margin-bottom: 3em; }
  .blog .card {
    margin-bottom: 3em; }
    .blog .card .card-img-top {
      width: 100%; }
    .blog .card .card-body {
      padding-top: 20px; }
      .blog .card .card-body .card-title {
        font-size: 2em;
        font-family: "Playfair Display", serif;
        color: #d85f27; }

.blog-article-list {
  list-style: none;
  margin: 0 0 30px;
  padding: 0; }
  .blog-article-list li {
    margin-bottom: 20px; }

h4 a {
  color: #000000;
  cursor: pointer;
  text-decoration: none; }
h4 a:hover {
  text-decoration: underline; }
h4 a:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13.0px;
  border-color: transparent transparent transparent #1d7e88;
  display: inline-block;
  margin-left: 10px; }

.footnotes {
  border-top: 1px solid #999999;
  margin-top: 15px;
  padding-top: 15px; }
  .footnotes p {
    font-size: .8rem;
    color: #888888; }

.single-column {
  width: 100%;
  padding: 20px; }

.content {
  max-width: 950px;
  margin: 0 auto; }
  .content h2:first-child,
  .content h3:first-child,
  .content h4:first-child,
  .content h5:first-child,
  .content p:first-child {
    margin-top: 0 !important; }
  .content li {
    font-size: 1.1em;
    line-height: 1.6em;
    font-family: "Roboto", sans-serif;
    color: #58595b; }

.light-gray-bg {
  background-color: #55555512 !important; }

.light-teal-bg {
  background-color: #1d7e881c !important; }

.light-blue-bg {
  background-color: #1ba6dc1c !important; }

.carousel-indicators li {
  background-color: #000; }

.sidebar h2 {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2rem; }
.sidebar h3 {
  font-family: "Roboto", sans-serif;
  color: #1d7e88;
  font-weight: 700;
  text-align: left;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: none;
  font-size: 1.4rem;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0; }
.sidebar h4 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: .25rem; }
.sidebar h5 {
  font-size: 1em; }
.sidebar p,
.sidebar li,
.sidebar table {
  margin: .5em 0;
  font-size: .9em; }
.sidebar .box {
  background-color: #ededed;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }
  .sidebar .box h3 {
    text-align: left; }
.sidebar .testimonial {
  background-color: #ecfaff;
  padding: 30px 10% 25px;
  margin: 30px 0 !important; }
  .sidebar .testimonial p.quote {
    font-size: 1.1em; }

.cta h3 {
  font-family: "Roboto", sans-serif;
  color: #1d7e88;
  font-weight: 700;
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: none;
  font-size: 1.2em;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0; }
.cta h4 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: .25rem; }
.cta h5 {
  font-size: 1em; }
.cta p,
.cta li,
.cta table {
  margin: .5em 0;
  font-size: .9em; }
.cta .box {
  background-color: #ededed;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }
  .cta .box h3 {
    text-align: left; }

.floating-sidebar .box, .cta .box {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2); }

input {
  font-family: "Roboto", sans-serif;
  color: #58595b !important; }

select {
  font-family: "Roboto", sans-serif;
  color: #58595b !important; }

.btn {
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  margin: 20px auto;
  padding: 1em 2.5em;
  text-transform: uppercase;
  display: block;
  letter-spacing: .1em; }

.btn-primary {
  background: none;
  background-color: #d85f27; }

.btn-secondary {
  background: none;
  background-color: #58595b; }

.btn-primary:hover {
  background: none;
  border: none;
  background-color: #f47b39; }

.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  background: none;
  background-color: #d85f27; }

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active {
  background: none;
  background-color: #58595b; }

.btn-sm {
  padding: .75em 1.25em; }

.carriers {
  clear: both; }

.testimonial {
  padding: 15px;
  text-align: center; }
  .testimonial .quote {
    font-size: 20px;
    font-style: italic; }
  .testimonial .attribution {
    font-size: 20px;
    font-weight: 700;
    text-align: right; }

.prod-list-accordion h3 {
  cursor: pointer;
  text-align: left;
  text-indent: -14px;
  padding-left: 14px; }
.prod-list-accordion h4 {
  text-align: left; }
.prod-list-accordion .toggle-content {
  display: none; }
.prod-list-accordion div {
  padding-left: 15px; }

.product .nav-pills .nav-link {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .08em;
  margin: 3px;
  background: none;
  background-color: #f1f1f1;
  color: #666666; }
.product .nav-pills .nav-link.active {
  text-transform: uppercase;
  letter-spacing: .08em;
  background: none;
  background-color: #1d7e88;
  color: #ffffff; }

#accordion,
#accordionTwo {
  margin-bottom: 30px; }
  #accordion .card .card-header,
  #accordionTwo .card .card-header {
    padding: 0;
    cursor: pointer;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff; }
    #accordion .card .card-header .btn,
    #accordionTwo .card .card-header .btn {
      font-family: "Roboto", sans-serif;
      margin: 0;
      padding: 15px;
      width: 100%;
      height: 100%;
      color: #58595b;
      font-weight: 700;
      text-align: left;
      text-transform: capitalize;
      letter-spacing: unset;
      background-color: #f1f1f1;
      font-size: 1.1em; }
    #accordion .card .card-header .btn:hover,
    #accordion .card .card-header .btn:focus,
    #accordionTwo .card .card-header .btn:hover,
    #accordionTwo .card .card-header .btn:focus {
      outline: 0 !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-decoration: none; }
    #accordion .card .card-header .btn:before,
    #accordionTwo .card .card-header .btn:before {
      content: "-";
      font-weight: bold;
      margin-right: 10px; }
    #accordion .card .card-header .btn.collapsed,
    #accordionTwo .card .card-header .btn.collapsed {
      background-color: #e9e9e9; }
    #accordion .card .card-header .btn.collapsed:before,
    #accordionTwo .card .card-header .btn.collapsed:before {
      content: "+" !important;
      font-weight: bold;
      margin-right: 10px; }
  #accordion .card .card-body,
  #accordionTwo .card .card-body {
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    padding: 15px;
    margin-bottom: 15px; }

.tie-promo {
  background-color: #f4f4f4; }
  .tie-promo .tie-logo img {
    width: 100%;
    max-width: 250px; }

.ftj-promo {
  background-color: #f4f4f4; }
  .ftj-promo .ftj-logo p {
    margin-bottom: 1em; }
  .ftj-promo .ftj-logo img {
    width: 100%;
    max-width: 250px; }

.footer {
  background-color: #f1f1f1;
  background-color: #58595b; }
  .footer p {
    font-size: .9em;
    color: #CFCFCF;
    margin: 0 0 3px; }
    .footer p strong {
      color: #ffffff; }
  .footer a {
    color: #CFCFCF;
    text-decoration: none; }
  .footer a:hover {
    color: #ffffff;
    text-decoration: underline; }
  .footer .social ul, .footer .copyright ul {
    border-top: 1px solid #CFCFCF;
    list-style: none;
    padding: 1em 0;
    margin: 15px; }
    .footer .social ul li, .footer .copyright ul li {
      font-size: .9em;
      display: inline-block;
      color: #CFCFCF;
      margin-right: 1em; }
  .footer .social p, .footer .copyright p {
    margin: 15px; }
  .footer .small {
    margin: 15px; }

@media (min-width: 360px) {
  header .navbar {
    text-align: unset; }
    header .navbar .navbar-toggler {
      margin: 0; }
    header .navbar .navbar-toggler-icon {
      background-image: url(../../images/hamburger.svg);
      display: block;
      width: 1.5em;
      height: 1.5em; }
    header .navbar .navbar-toggler-icon:before {
      display: none; } }
@media (min-width: 576px) {
  header .navbar {
    height: 80px; } }
@media (min-width: 768px) {
  header {
    padding: 30px; }
    header .navbar {
      height: 80px; }
    header .logo {
      width: 100%;
      max-width: 400px; }
    header .logo-block .assoc-logo {
      display: inline-block;
      margin: 0; }
    header .logo-block .tie-logo-header {
      display: inline-block;
      margin: 0 20px 0 0; }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    text-align: left; }

  .billboard {
    text-align: left; }
    .billboard h3 {
      margin-bottom: auto; }
    .billboard .hero {
      height: 35vh; } }
@media (min-width: 992px) {
  .single-column {
    padding: 20px 10%; }

  h2 {
    font-size: 2.0rem; }

  .billboard h1 {
    font-size: 2.5rem; }
  .billboard h3 {
    font-size: 1.3rem; }
  .billboard .hero {
    height: 35vh; }

  .floating-sidebar {
    margin-top: -100px; } }
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1200px; } }
/****************************************/
/*          Style Guide Only            */
/****************************************/
.colors {
  list-style: none; }
  .colors .square {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #555;
    margin-right: 15px; }
  .colors .square.dark-teal {
    background-color: #1d7e88; }
  .colors .square.burnt-orange {
    background-color: #d85f27; }
  .colors .square.dark-gray {
    background-color: #58595b; }
  .colors .square.light-teal {
    background-color: #10a8b1; }
  .colors .square.peach {
    background-color: #fdc484; }
  .colors .square.orange {
    background-color: #f47b39; }
  .colors .square.background-gray {
    background-color: #f1f1f1; }

/*# sourceMappingURL=ftj-tie-styles.css.map */
